.sandwich {
    background: url('../../images/bgi.jpeg') center / cover no-repeat;
    width: 100%;
    height: 902px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}